Rplots.pdf
features-concordance.tex
features-samplepics.pdf
features.tex
cache
features-jasa.pdf
features-jasa.tex
features-jasa-concordance.tex
references.bib.bak
features-jcgs-nofigs-concordance.tex
features-jcgs-nofigs.Rnw
features-jcgs-nofigs.fff
features-jcgs-nofigs.pdf
features-jcgs-nofigs.tex
features-jcgs.fff
features-jcgs.ttt
features-jcgs-concordance.tex
signature.png
